:root {
  --br-blobby: 50%;
  --br-blobby-before: 50%;
  --br-blobby-after: 50%; }

* {
  box-sizing: border-box; }

body {
  scroll-behavior: smooth; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI" !important; }

.home-page .main {
  position: relative;
  height: 1000px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation-name: background;
  animation-duration: 25s;
  animation-delay: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  transition: background-image 2s; }
  .home-page .main .main-content {
    padding-top: 300px;
    color: white;
    font-family: "Hubballi ";
    letter-spacing: 2px;
    font-style: italic; }
    .home-page .main .main-content h1 {
      font-size: 51px !important;
      color: rgba(255, 255, 255, 0.9);
      font-family: "Tangerine" !important;
      font-weight: 600; }
    .home-page .main .main-content div {
      font-family: "Antic Slab" !important;
      color: rgba(255, 255, 255, 0.7);
      font-size: 22px; }
  .home-page .main .sub-content {
    margin-top: 15%; }
    .home-page .main .sub-content .sub-title {
      color: rgba(255, 255, 255, 0.9);
      font-family: "Tangerine" !important;
      font-size: 3.5rem; }
      .home-page .main .sub-content .sub-title span {
        color: #fff !important;
        font-size: 3.5rem;
        font-weight: 600;
        letter-spacing: 2px; }
  .home-page .main:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.3; }
@keyframes background {
  0% {
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.6), transparent), url(../../ProdImg/Background/bg1.jpg); }
  33% {
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.6), transparent), url(../../ProdImg/Background/bg2.jpg); }
  66% {
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.6), transparent), url(../../ProdImg/Background/bg3.jpg); }
  100% {
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.6), transparent), url(../../ProdImg/Background/bg1.jpg); } }
.home-page .Presentation-section {
  min-height: 450px;
  background-image: url(../../ProdImg/Background/testimonial_bg.png);
  background-position: center;
  background-size: cover; }
  .home-page .Presentation-section .Presentation-container {
    padding: 20px 25px;
    padding-top: 3rem; }
    .home-page .Presentation-section .Presentation-container .Presentation-paper h1 {
      font-family: "Tangerine" !important;
      font-weight: 600;
      font-style: italic;
      font-size: 50px;
      letter-spacing: 2px; }
    .home-page .Presentation-section .Presentation-container .Presentation-paper .Presentation-prg {
      margin: 35px;
      margin-top: 0;
      padding: 20px;
      padding-top: 0;
      text-align: center;
      line-height: 35px;
      font-size: 24px;
      font-family: "Antic Slab"; }
      .home-page .Presentation-section .Presentation-container .Presentation-paper .Presentation-prg b {
        font-size: 32px; }
    .home-page .Presentation-section .Presentation-container .Presentation-footer {
      width: 100%;
      font-family: "Tangerine" !important;
      font-weight: 600;
      font-size: 24px; }
.home-page .Product-section {
  position: relative;
  height: 700px;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#001220 10%, transparent), url(../../ProdImg/Background/2307735-1605164185793_TM-02.jpg);
  background-image: url(../../ProdImg/Background/2307735-1605164185793_TM-02.jpg); }
  .home-page .Product-section * {
    box-sizing: border-box;
    line-height: 1.5; }
  .home-page .Product-section img {
    max-width: 100%; }
  .home-page .Product-section .Product-items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    background: transparent; }
    .home-page .Product-section .Product-items .Product-title {
      font-family: "Tangerine" !important;
      font-weight: 600;
      font-size: 55px;
      letter-spacing: 2px;
      margin-top: 3.5rem;
      margin-bottom: 2rem;
      color: #fff; }
    .home-page .Product-section .Product-items .card {
      background: #001220;
      width: 370px;
      height: 60vh;
      padding: 2rem;
      padding-bottom: 0;
      color: #aaa;
      border-radius: 15px;
      transition: 0.5s;
      box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
      overflow: hidden; }
      .home-page .Product-section .Product-items .card:hover {
        transform: translateY(-50px); }
        .home-page .Product-section .Product-items .card:hover .card__caption {
          top: 50%;
          transform: translateY(-50%); }
        .home-page .Product-section .Product-items .card:hover .card__image {
          transform: translateY(-10px); }
        .home-page .Product-section .Product-items .card:hover .card__image-container::after {
          top: 0; }
      .home-page .Product-section .Product-items .card__image-container {
        margin: -2rem -2rem 2rem -2rem;
        height: 80%;
        position: relative;
        max-height: 400px;
        overflow: hidden; }
        .home-page .Product-section .Product-items .card__image-container::after {
          position: absolute;
          top: 0;
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 20%, rgba(255, 255, 255, 0) 100%);
          transition: 0.3s; }
        .home-page .Product-section .Product-items .card__image-container img {
          opacity: 0;
          animation: ImageFadeIn 0.8s 1.4s forwards;
          width: 100%;
          height: 100%;
          transition: 0.5s ease-in-out; }
      .home-page .Product-section .Product-items .card__caption {
        position: absolute;
        width: 100%;
        z-index: 1;
        padding: 5px 20px;
        color: #545581;
        transform: translateY(-10%);
        text-align: center;
        transition: 0.3s;
        z-index: 1; }
        .home-page .Product-section .Product-items .card__caption .card__link {
          display: inline-block;
          padding: 10px 20px;
          color: white;
          border: 1px solid white;
          border-radius: 7px 15px;
          font-family: "Roboto", sans-serif;
          font-size: 12px;
          text-transform: uppercase;
          text-decoration: none;
          transition: 0.3s; }
          .home-page .Product-section .Product-items .card__caption .card__link:hover {
            color: #545581;
            background-color: #fff; }
      .home-page .Product-section .Product-items .card__line {
        opacity: 0;
        animation: LineFadeIn 0.8s 0.8s forwards ease-in; }
      .home-page .Product-section .Product-items .card__title {
        font-family: "Tangerine" !important;
        color: white;
        font-weight: 800;
        letter-spacing: 0.01em;
        margin-top: 1.5rem;
        font-size: 45px; }
      .home-page .Product-section .Product-items .card__content {
        opacity: 0;
        animation: ContentFadeIn 0.8s 1.6s forwards; }
      .home-page .Product-section .Product-items .card__text {
        color: #f2f2f2;
        font-family: "Antic Slab"; }
      .home-page .Product-section .Product-items .card__shape_divider {
        position: absolute;
        top: 330px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0; }
        .home-page .Product-section .Product-items .card__shape_divider svg {
          position: relative;
          display: block;
          width: calc(142% + 1.3px);
          height: 50px; }
        .home-page .Product-section .Product-items .card__shape_divider .shape-fill {
          fill: #001220; }
.home-page .About {
  height: auto;
  position: relative; }
  .home-page .About-items {
    margin: 3rem auto; }
    .home-page .About-items .Text-divider {
      font-family: "Tangerine" !important;
      letter-spacing: 2px;
      font-size: 45px; }
  .home-page .About-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 75vh;
    padding: 4rem 2rem;
    margin: 0; }
    .home-page .About-content .About-text {
      font-family: "Antic Slab";
      font-size: 20px;
      position: absolute;
      z-index: 100;
      line-height: 25px; }
    .home-page .About-content h1 {
      position: absolute;
      z-index: 100;
      font-family: "Tangerine" !important;
      letter-spacing: 2px;
      font-size: 30px; }
    .home-page .About-content .box {
      background-color: #f3f3f3;
      border-radius: var(--br-blobby);
      position: relative;
      transition: 1.5s linear; }
      .home-page .About-content .box.box-lg {
        height: 350px;
        width: 550px; }
      .home-page .About-content .box.box-md {
        height: 275px;
        width: 450px; }
      .home-page .About-content .box.box-sm {
        height: 350px;
        width: 550px; }
      .home-page .About-content .box::after {
        content: "";
        background-color: #f4f4f4;
        border-radius: var(--br-blobby-after);
        position: absolute;
        opacity: 0.5;
        top: -2%;
        left: -2%;
        height: 104%;
        width: 104%;
        transition: 1.5s linear; }
      .home-page .About-content .box::before {
        content: "";
        background-color: #545581;
        border-radius: var(--br-blobby-before);
        position: absolute;
        opacity: 0.2;
        top: -4%;
        left: -4%;
        height: 108%;
        width: 108%;
        transition: 1.5s linear; }

@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
    stroke: #fff; }
  50% {
    opacity: 1;
    d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
    stroke: #888BFF; }
  100% {
    opacity: 1;
    d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
    stroke: #545581; } }
@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px); }
  50% {
    opacity: 1;
    filter: blur(2px); }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0); } }

/*# sourceMappingURL=main.css.map */
